[submodule "yasnippet"]
	path = yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "auto-complete"]
	path = auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "git-emacs"]
	path = git-emacs
	url = https://github.com/tsgates/git-emacs.git
[submodule "nyan-mode"]
	path = nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode.git
[submodule "slime"]
	path = slime
	url = https://github.com/nablaone/slime.git
[submodule "expand-region.el"]
	path = expand-region.el
	url = https://github.com/magnars/expand-region.el.git
[submodule "smex"]
	path = smex
	url = https://github.com/nonsequitur/smex
[submodule "cedet"]
	path = cedet
	url = http://git.randomsample.de/cedet.git
[submodule "popup-el"]
	path = popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "fuzzy-el"]
	path = fuzzy-el
	url = https://github.com/auto-complete/fuzzy-el.git
[submodule "js2-mode"]
	path = js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "ido-ubiquitous"]
	path = ido-ubiquitous
	url = https://github.com/technomancy/ido-ubiquitous.git
[submodule "bundler.el"]
	path = bundler.el
	url = git://github.com/tobiassvn/bundler.el.git
[submodule "inf-ruby"]
	path = inf-ruby
	url = git://github.com/nonsequitur/inf-ruby.git
